.table_container {
  overflow-x: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.custom_table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.custom_table th,
.custom_table td {
  padding: 8px 12px;
  border: 1px solid #272626;
  width: calc(100% / 3);
  font-size: 28px;
  font-weight: 300;
}

.custom_table th {
  background-color: #141414;
  color: #f2f2f2;
  font-size: 32px;
  font-weight: 500;
}

.custom_table tr:nth-child(2n + 3) {
  background-color: #a09b9b;
}

.custom_table tr:hover,
.custom_table tr:focus-within {
  background-color: #f2f2f2;
}

.custom_table tr:hover td,
.custom_table tr:focus-within td {
  background-color: #f2f2f2;
}
